html * {
    box-sizing: border-box;
}
.navbar {
    height: 80px;
    overflow: hidden;
}
.container {
    background-color: #f0f0f0;
}

h1, h2, .anton{
    font-family: 'Anton', sans-serif;
}
/*.img h5 {*/
    /*font-size: 26px;*/
    /*vertical-align: top;*/
/*}*/

.abel {
    font-family: 'Abel', sans-serif;
}
li>a {
    color: #000;
}
/*.logo {*/
    /*overflow-wrap: inherit;*/
/*}*/

.circle {
    width: 105px;
    height: 105px;
    border-radius: 50px;
    text-align: center;
    line-height: 90px;
    margin: 0 auto 20px;
    color: #fff;
    border: 5px solid #fff;
    font-size: x-large;
}


.red {
    background: #e6563b;
}

.orange {
    background: #eb9d3a;
}

.green {
    background: #7cb06c;
}

.blue {
    background: #00aba9;
}
.anton {
    font-family: 'Anton', sans-serif;
}

.badge{
    margin: .5em;
    color: #000;
}
.pill-red {
    background: #e6563b;

}

.pill-orange {
    background: #eb9d3a;
}

.pill-green {
    background: #7cb06c;

}

.pill-blue {
    background: #00aba9;
}

.circle-small {
    width: 98px;
    height: 98px;
    border-radius: 100px;
    text-align: center;
    line-height: 86px;
    margin: 0 auto 20px;
    color: #fff;
    border: 10px solid #fff;
}

.red-small {
    background: #e6563b;
}

.orange-small {
    background: #eb9d3a;
}

.green-small {
    background: #7cb06c;
}

.blue-small {
    background: #00aba9;
}


.img {
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    padding: 6px;
    height: 120px;
    width: 150px;
}

.img-small {
    width: 55px;
    height: 55px;
}
.img-twitter {
    width: 45px;
    height: 45px;
}

